/* popup */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#modal_container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #0008;
  z-index: 1000;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#popup_container {
  position: absolute;
  background-color: #fff;
  margin: 40px 10px;
  padding: 10px;
}

#modalHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#modalTitle {
  font-family: roboto, sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  color: #172b4d;
}

#modalTech {
  display: flex;
  gap: 12px;
  list-style: none;
  margin-top: 24px;
  margin-bottom: 24px;
}

#modalTech li {
  border: 1px solid black;
  color: #3c3a39;
  list-style: none;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  padding: 10px;
}

#img_desc {
  overflow: hidden;
}

#modalImage {
  max-width: 100%;
  margin: 0 auto;
}

#modalDesc {
  margin-top: 20px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #344563;
  margin-bottom: 16px;
}

#modalButtons {
  display: flex;
  justify-content: space-between;
}

#modalButtonLive,
#modalButtonSource {
  padding: 12px;
  font-size: 14px;
  line-height: 20px;
  background: #ff6b00;
  font-weight: bold;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  align-self: flex-start;
  margin-bottom: 5px;
}

#modalButtons a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
}

#modalButtonLive i {
  transform: rotate(40deg);
}

@media (min-width: 375px) {
  #popup_container {
    margin: 60px 16px;
    padding: 16px;
  }

  #modalTitle {
    font-size: 32px;
    line-height: 44px;
  }

  #modalTech {
    display: flex;
    gap: 12px;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #modalTech li {
    font-size: 13px;
    line-height: 10px;
    padding: 10px;
  }

  #modalDesc {
    margin-top: 5px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 1px;
  }
}

@media (min-width: 420px) {
  #img_desc {
    display: flex;
    flex-direction: column;
  }

  #modalImage {
    max-width: 90%;
  }
}

@media (min-width: 550px) {
  #modalImage {
    max-width: 90%;
  }
}

@media (min-width: 600px) {
  #modalImage {
    max-width: 70%;
  }
}

@media (min-width: 768px) {
  #img_desc {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 10px;
  }

  #modalImage {
    max-width: 100%;
  }

  #modalDesc {
    font-size: 17px;
  }

  #desc_butt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (min-width: 800px) {
  #modalButtons {
    display: flex;
    justify-content: flex-start;
  }

  #modalButtonLive,
  #modalButtonSource {
    margin: 12px;
  }
}

@media (min-width: 900px) {
  #modalDesc {
    font-size: 17px;
    line-height: 30px;
  }
}
