/* popup */

#modal_container {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #0000007e;
  position: fixed;
  z-index: 500;
}

#popup_container {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: auto;
  height: auto;
  position: fixed;
  display: flex;
  flex-direction: column;
  margin: 60px 16px 16px 16px;
  padding: 16px;
  background-color: white;
  z-index: 1000;
  /* justify-content: space-between; */
}

#modalHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#modalTitle {
  font-family: roboto, sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-top: 16px;
  margin-bottom: 16px;
}

#modalTech {
  display: flex;
  gap: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 16px;
  margin-bottom: 16px;
}

#modalTech li {
  border: 1px solid black;
  color: #3c3a39;
  list-style: none;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  padding: 10px;
}

#modalImage {
  width: 100%;
}

#modalDesc {
  margin-top: 24px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 16px;
}

#modalButtons {
  display: flex;
  justify-content: space-evenly;
}

#modalButtonLive,
#modalButtonSource {
  padding: 12px;
  font-size: 17px;
  line-height: 24px;
  background: #ff6b00;
  font-weight: bold;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  align-self: flex-start;
}

#modalButtons a {
  color: black;
  text-decoration: none;
}

#modalButtonLive i {
  transform: rotate(40deg);
}

/* Media Queries */

@media (min-width: 500px) {
  #popup_container {
    max-height: 621px;
  }

  #img_desc {
    display: flex;
    flex-direction: row;
    max-height: 448px;
  }

  #desc_butt {
    padding-left: 10px;
  }

  #modalDesc {
    font-size: 11px;
    line-height: 20px;
  }

  #modalButtons {
    justify-content: flex-start;
  }
  
  #modalButtonLive,
  #modalButtonSource {
  margin: 3.5px;
  padding: 10px;
  font-size: 14px;
  Line-height: 20px;
}
}

@media (min-width: 768px) {
  #popup_container {
    max-height: 631px;
  }

  #img_desc {
    display: grid;
    grid-template-columns: 60% 40%;
    max-height: 421px;
  }

  #modalDesc {
    font-size: 17px;
  }

  #desc_butt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  #modal_container {
    padding: 100px;
  }

  #modalImage {
    max-height: 421px;
  }

  #modalDesc {
    font-size: 16px;
    line-height: 30px;
    padding-left: 10px;
  }

  #modalButtonLive,
  #modalButtonSource {
  font-size: 17px;
}
}
